*{
  margin: 0;
  box-sizing: border-box;
}
.toolbar{
   width: 100%;
   height: 3rem;
   background: #001a1a;
   position: relative;
   top: -10px;
 
 }
.heads{
 
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 40%;
}
a{
  color: white;
}
#head{
  text-align: center;
  font-size: 2.5rem;
}
.content{
  justify-content: space-around;
  text-align:center;
  position: relative;
  left: 15rem;
  top: 5rem;
  font-size: 1.5rem;
  width: 100%;
}
.foot{
background-color: #001a1a;
color: white;
text-align: center;
position: fixed;
width:100vw;
height: 15%;
bottom: 0;
}
img
{
width: 20%;
height: auto;
position: fixed;
left: 10%;
bottom:25;
border: 1px solid black;
border-radius: 5px;
box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
body{
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: powderblue;
  font-family:sans-serif, roboto;
}
#text{
  position: relative;
  top:30px;
}
button{
  position: relative;
  top: 45px;
  width: 30%;
  border-radius: 5px;
  background: orange;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  padding:5px 5px 5px 5px;
  border: none;
  color: #001a1a;
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.button1 {
  background-color: orange;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: none;
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
